<%- include('includes/head.ejs', { title: 'Admin' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Admin Page</h1>
    <p>You should only get here, if you're authenticated (logged in).</p>
    <p>Typically, admin pages like this would allow you to create and edit data (e.g. blog posts) 
      or do similar tasks that should not be available to everyone!</p>
  </main>
</body>
</html>