<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Your Orders</h1>
    <%- include('../../shared/includes/order-list') %>
  </main>
<%- include('../../shared/includes/footer') %>