body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:  1px 1px 2px rgba(18, 21, 194, 0.247);
}

header ul {
    display: flex;
}

header li {
    margin-left: 25px;
    
}

header a {
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 6px;

}

header nav a:hover {
    color: rgb(77,77,77);
    background-color: rgb(255,251,0);
}

#footer{
   background: linear-gradient(70deg, rgb(25,45,65), rgb(100,120,140));
   display: flex;
   justify-content: center;
}

.footericon{
    width: 80px;
    height: 80px;
    margin: 10px 20px;
}

.footericon img {
    width: 100%;
    height: 100%;
}