body {
  font-family: sans-serif;
  background-color: rgb(236, 252, 253);
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(246, 250, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(217, 227, 247);
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-actions {
  text-align: right;
}

.btn-filled {
  background-color: rgb(51, 67, 100);
  color: white;
}

.btn-empty {
  background-color: transparent;
  color: rgb(51, 67, 100);
}

.btn-filled:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

.btn-empty:hover {
  background-color: rgb(208, 215, 230);
}

.inline-control {
  display: flex;
}

.inline-control label {
  margin: 0;
  margin-left: 0.5rem;
}

.inline-control input {
  width: auto;
}