#carousel-example {
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  margin: 2rem auto;
}

#carousel-example img {
  height: 30rem;
  object-fit: cover;
}

#newsletter-signup {
  max-width: 30rem;
  margin: 4rem auto;
}