* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "sans-serif";

  --color-gray-50: rgb(243, 236, 230);
  --color-gray-100: rgb(207, 201, 195);
  --color-gray-300: rgb(99, 92, 86);
  --color-gray-400: rgb(70, 65, 60);
  --color-gray-500: rgb(37, 34, 31);
  --color-gray-600: rgb(32, 29, 26);
  --color-gray-700: rgb(31, 26, 22);

  --color-primary-50: rgb(253, 224, 200);
  --color-primary-100: rgb(253, 214, 183);
  --color-primary-200: rgb(250, 191, 143);
  --color-primary-400: rgb(223, 159, 41);
  --color-primary-500: rgb(212, 136, 14);
  --color-primary-700: rgb(212, 120, 14);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --color-primary-500-bg: rgb(63, 60, 58);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}
