<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Something went wrong!' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Oops, something went wrong!</h1>
    <p>Unfortunately, something went wrong on our end - we're working on fixing it!</p>
    <a class="btn" href="/">Back To Safety!</a>
  </main>
</body>

</html>