form hr {
  border-color: var(--color-primary-200);
  margin: var(--space-4);
}

label {
  color: var(--color-gray-100);
  display: block;
  margin-bottom: var(--space-2);
}

input, textarea {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: none;
  width: 90%;
}

#image-upload-control {
  display: flex;
  align-items: center;
}

#image-upload-control input {
  max-width: 15rem;
}

#image-upload-control img {
  display: none;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}
