<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not authenticated!</h1>
    <p>You are not authenticated and therefore not allowed to access this page!</p>
  </main>
</body>
</html>