<%- include('includes/head.ejs', { title: 'Welcome' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Welcome to this demo!</h1>
    <p>In this demo project, you can create accounts & log in with accounts.</p>
    <p>In addition, on the <a href="/admin">/admin page</a>, you can perform CRUD operations on blog posts.</p>
    <p>Please note: There are no "user-facing" views (for non-logged-in users) for those blog posts.</p>
  </main>
</body>
</html>