<%- include('../../shared/includes/head', { pageTitle: 'All Your Orders' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Your Orders</h1>
    
  </main>
<%- include('../../shared/includes/footer') %>