<%- include('includes/head.ejs', { title: 'Not found!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not found!</h1>
    <p>Could not find the resource!</p>
  </main>
</body>
</html>