<aside id="mobile-drawer">
  <nav>
    <ul>
      <li class="nav-item">
        <a href="/restaurants">Browse Restaurants</a>
      </li>
      <li class="nav-item">
        <a href="/recommend">Share a Restaurant</a>
      </li>
      <li class="nav-item"><a href="/about">About Eatwell</a></li>
    </ul>
  </nav>
</aside>