<%- include('includes/head.ejs', { title: 'Welcome' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Welcome to this demo!</h1>
    <p>We'll dive into security topics here!</p>
  </main>
</body>
</html>