body {
  background-color: rgb(31, 30, 30);
  font-family: 'Roboto', sans-serif;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}