<%- include('includes/head', { pageTitle: 'I am a Web Developer!' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <p>
      Yet - something went wrong :(
    </p>
    <p>I'm sorry - I'm working on it!</p>
  </main>
</body>
</html> 