<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Product Administration</h1>
    <section>
      <h2>Manage Products</h2>
      <p>
        <a href="/admin/products/new" class="btn">Add Product</a>
      </p>
    </section>
    <section>
      <p>A list of products...</p>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>