body{
    background-color: rgb(238, 255, 255);
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem;
}

form{

    width: 40rem;
    margin: auto;
    background-color:  rgb(242, 250, 250);
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) ;
    /* border: solid 1px rgb(207, 252, 252);  */
    border-radius: 8px;
    
    
    
    
    /* box-shadow: 3px 3px 5px rgb(156, 247, 247); */
}

section{
    margin-bottom: 1rem;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label{
    display: block;
    color: rgb(96, 96, 243);
    margin: 0.5rem 0;
}

input
,textarea
,select{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 0.5rem;
    /* border-radius: 4px; */
}

input:focus
,textarea:focus
,select:focus{
    background-color: rgb(121, 133, 241);
}


.flexbox {
    display: flex;
}
.flexbox label {
    margin: 0;

}
.flexbox input{
    width: auto;
    margin-right:0.5rem;
}

.button-section{
    text-align: right;
}


button{
    font:inherit;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    border: 1px solid rgb(165, 164, 164);
    cursor: pointer;
    /* margin-right: 0.2rem; */
}
#reset-button {
    background-color:  rgb(242, 250, 250);
}

#reset-button:hover {
    background-color:  rgb(143, 248, 248);
    
}

#submit-button{
    background-color:  rgb(22, 218, 218);
}

#submit-button:hover {
    background-color:  rgb(2, 75, 75);
    color: wheat;
}