h1 {
  text-align: center;
}

form {
  max-width: 25rem;
  margin: 2rem auto;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

input, textarea, select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

input:focus,
textarea:focus {
  background-color: rgb(237, 228, 255);
}

input, textarea {
  width: 100%;
}

.form-control {
  margin: 0.5rem 0;
}
