<ul id="course-content">
  <li class="content-item">
    How the web works and which kind of websites and -services web developers
    can build
  </li>
  <li class="content-item">Key fundamentals about HTML, CSS & JavaScript</li>
  <li class="content-item">Advanced CSS & JavaScript</li>
  <li class="content-item">
    Frontend vs Backend and how the two ends are connected
  </li>
  <li class="content-item">
    In-depth backend development with NodeJS & the Express framework
  </li>
  <li class="content-item">
    How to integrate third-party packages and services into websites
  </li>
  <li class="content-item">
    Working with databases like (My)SQL and MongoDB (NoSQL)
  </li>
  <li class="content-item">How to deploy websites</li>
  <li class="content-item">And so much more!</li>
</ul>
