form hr {
  border-color: var(--color-primary-200);
  margin: var(--space-4);
}

label {
  color: var(--color-gray-100);
  display: block;
  margin-bottom: var(--space-2);
}

input, textarea {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: none;
  width: 90%;
}