body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(83, 75, 75);
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(83, 75, 75);
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
