<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1>...</h1>
    <section id="post-meta">
      ...
    </section>
    <hr>
    <section>
      <p id="body">...</p>
    </section>
  </main>
</body>

</html>