body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgb(250, 237, 208);
  font-size: 1.5rem;
}

main {
  width: 95%;
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
}

main h1 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  color:rgb(202, 158, 62);
}

main p {
  color: rgb(95, 83, 58);
}

#main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}

#logo {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

#logo a {
  text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  background-color: rgb(240, 167, 9);
  border-radius: 50%;
}

#main-header nav {
  display: none;
}

#main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

#main-header .nav-item {
  margin-left: 1rem;
}

#main-header .nav-item a {
  text-decoration: none;
  color: rgb(139, 100, 8);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}

#main-header .nav-item a:hover,
#main-header .nav-item a:active {
  background-color: rgb(245, 222, 173);
}

#drawer-btn {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  justify-content: space-around;
  padding: 0.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#drawer-btn span {
  width: 2rem;
  height: 2px;
  background-color: rgb(119, 83, 5);
}

#mobile-drawer {
  display: none;
}

#mobile-drawer.open {
  display: block;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: rgb(43, 31, 5);
}

#mobile-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  padding: 0;
}

#mobile-drawer .nav-item {
  margin: 1.5rem 0;
}

#mobile-drawer .nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

#mobile-drawer .nav-item a:hover,
#mobile-drawer .nav-item a:active {
  color: rgb(240, 167, 9);
}

@media (min-width: 60rem) {
  #main-header {
    padding: 0 5%;
  }

  #main-header nav {
    display: block;
  }

  #drawer-btn {
    display: none;
  }

  #mobile-drawer.open {
    display: none;
  }
}


@media (min-width: 80rem) {
  #main-header {
    padding: 0 15%;
  }
}