<%- include('includes/head.ejs', { title: 'Success!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Success!</h1>
    <p>You successfully sent the amount!</p>
  </main>
</body>
</html>