<li class="post-item">
  <article>
    <h3><%= title %></h3>
    <div class="actions">
      <a class="btn" href="/posts/<%= postId %>/edit">View & Edit</a>
      <form action="/posts/<%= postId %>/delete" method="POST">
        <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf">
        <button class="btn btn-alt">Delete</button>
      </form>
    </div>
  </article>
</li>