html {
  background-color: rgb(236, 236, 236);
  font-family: 'Krub', sans-serif;
  font-weight: 400;
}

.card-container {
  background-color: rgb(255, 255, 255);
  width: 350px;
  margin: 50px auto;
  box-shadow: 3px 3px 10px rgb(201, 200, 200);
}

h1 {
  color: rgb(58, 58, 58);
  text-align: left;
  padding: 30px 50px 0px 50px;
  margin: 10px 0;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
}

.card-info {
  color: rgb(134, 134, 134);
  text-align: left;
  padding: 0 50px;
  margin: 10px 0 30px 0;
}

.price {
  color: rgb(41, 41, 41);
  background-color: rgb(167, 226, 255);
  text-align: center;
  margin: 30px auto 10px auto;
  font-size: 50px;
  font-weight: 600;
}

.price-info {
  color: rgb(134, 134, 134);
  text-align: center;
  margin: 10px 0 30px 0;
  padding: 0 50px;
}

.sub-details {
  width: 300px;
  margin: 30px 50px;
}

.sub-feature {
  display: flex;
}

.icon {
  display: flex;
  width: 10px;
}

.sub-feature-text {
  color: rgb(58, 58, 58);
  padding: 2px;
  margin: 5px;
}

.button-container {
  text-align: center;
  margin: 30px 0 0 0;
}

.button {
  color: rgb(0, 170, 255);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 70%;
  padding: 10px;
  margin: 0 0 30px 0;
  border: 2px solid rgb(224, 224, 224);
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  color: white;
  background-color: rgb(0, 170, 255);
  border: 2px solid rgb(255, 255, 255);
}
