      <ul>
        <li>
          <img src="images/places/barcelona.jpg" alt="City of Barcelona" />
          <div class="item-content">
            <div>
              <h2>Barcelona</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Barcelona">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/hawaii.jpg" alt="Hawaii beach" />
          <div class="item-content">
            <div>
              <h2>Hawaii</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="hhttps://en.wikipedia.org/wiki/Hawaii">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/london.jpg" alt="London city" />
          <div class="item-content">
            <div>
              <h2>London</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/London">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/miami.jpg" alt="Miami streets" />
          <div class="item-content">
            <div>
              <h2>Miami</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Miami">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/munich.jpg" alt="Munich football stadium" />
          <div class="item-content">
            <div>
              <h2>Munich</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Munich">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/new-york-city.jpg" alt="New York City skyline" />
          <div class="item-content">
            <div>
              <h2>New York City</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/New_York_City"
                >Explore &#x2192</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/paris.jpg" alt="Paris city" />
          <div class="item-content">
            <div>
              <h2>Paris</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Paris">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/sydney.jpg" alt="Sydney beach" />
          <div class="item-content">
            <div>
              <h2>Sydney</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Sydney">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/tokyo.jpg" alt="Tokyo skyline" />
          <div class="item-content">
            <div>
              <h2>Tokyo</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Tokyo">Explore &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img src="images/places/bali.jpg" alt="Bali beach" />
          <div class="item-content">
            <div>
              <h2>Bali</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="https://en.wikipedia.org/wiki/Bali">Explore &#x2192</a>
            </div>
          </div>
        </li>
      </ul>