<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Not found!' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>We could not find this resource!</h1>
    <p>Unfortunately, we were not able to find this resource.</p>
    <a class="btn" href="/">Back To Safety!</a>
  </main>
</body>

</html>