<%- include('includes/head.ejs', { title: 'Login' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
  <%- include('includes/header.ejs') %>
  <main id="signup">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button class="btn">Log in</button>
    </form>
    <div id="auth-alternative">
      <a class="btn btn-alt" href="/signup">Create a new user</a>
    </div>
  </main>
</body>

</html>