<article class="post-item">
  <h2>...</h2>
  <p class="post-item-author">By ...</p>
  <p>...</p>
  <div class="post-actions">
    <button class="btn btn-alt">Delete Post</button>
    <a href="...">Edit Post</a>
    <a class="btn" href="...">View Post</a>
  </div>
</article>