<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server - we're doing our best
        to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>
