header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 12px 0;
}

#description {
  margin: 8px;
}

/* header p {
  margin-bottom: 36px;
} */

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 12px 0;
}

a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
}

h2 {
  color: rgb(78, 13, 5);
  font-family: "Oswald", sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}

.highlight-goal {
  background-color: rgb(226, 115, 101);
}
