body {
  background-color: rgb(233, 215, 207);
  text-align: center;
  color: rgb(83, 75, 75);
  margin: 50px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
}

a {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: rgb(167, 1, 78);
}

a:hover {
  text-decoration: underline;
}
