body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(244, 234, 255);
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}

main {
  background-color: rgb(122, 74, 218);
  padding: 32px;
  margin: 32px auto;
  width: 700px;
  border-radius: 8px;
  color: rgb(248, 241, 255);
}
