<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not authenticated!</h1>
    <p>You are not authenticated!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
  </main>
<%- include('includes/footer') %>