<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed</h1>
    <p>Please contact the shop owner for more details!</p>
  </main>
<%- include('../../shared/includes/footer') %>