body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(83, 75, 75);
    margin: 50px;
  }
  
  h1 {
    font-family: "Oswald", sans-serif;
  }
  
  p {
    font-family: "Fira", sans-serif;
    font-size: 24px;
  }
  
  a {
    font-family: "Fira", sans-serif;
    text-decoration: none;
    color: rgb(167, 1, 78);
  }
  
  a:hover {
    text-decoration: underline;
  }
  

